* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
button {
  position: absolute;
  padding: 10px;
  border: 2px solid rgb(2, 68, 94);
  border-left: none;
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
}
section {
  width: 100%;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-color: cadetblue;
  height: 30vh;
}
section article {
  width: 80%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 250, 250, 0.472);
  border: 1px solid white;
  border-radius: 10px;
  /* transform: skewX(-8deg); */
  box-shadow: 0px 2px 5px white
}
h1 {
  font-size: 30px;
  margin: 10px;
  animation-name: col;
  animation-iteration-count: infinite;
  animation-duration: 0.9s;
}

@keyframes col
{
    from{color:black;color: white;}
    to{color: bisque;}
}
input {
  padding: 10px;
  border: 2px solid rgb(2, 68, 94);
}
.pdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 15px;
  border: 2px solid;
  margin: 0 auto;
  padding: 10px;
  text-transform: capitalize;
}
.resSec {
  width: 60%;
  border: 2px solid;
  margin: 0 auto;
}

#secicon
{
    color: red;
    font-size: 18px;
    transition: all 0.5s;
    /* background-color: yellow; */
    padding: 6px;
}
#secicon:hover
{
    background-color: red;
    color: white;
   
}
input:focus
{
    background-color: azure;
    color: black;
    font-weight: bold;
}
p
{
    font-weight: bold;
    font-size: 20px;
}
#tick
{
    font-size: 20px;

}
body
{
    background-color: azure;
    
}
